<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head-meta.html" %}
    <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet">
    <script defer src="{{ url_for('static', filename='login.js') }}"></script>
    <title>{{ title }}</title>
    <script>
    const sitename = "{{ site_name }}";
    </script>
    <style>
        div#loginform {
            display: none;
        }
    </style>
    {% include "loader-style.html" %}
</head>
<body onload="initLogin()">
    {% include "header.html" %}
    <div id="loginform">
        <h2>Sign in</h2>
        <form id="login-form" style="display: none;" action="javascript:login();">
            <label for="login-user">Username: </label>
            <div class="input"><input id="login-user" name="username" type="username"></div>
            <label for="password">Password: </label>
            <div class="input"><input id="login-pwd" name="password" type="password" autocomplete="password"></div>
            <div class="login-errwrap"><p id="login-error">?</p></div>
            <button class="login-button" id="login-button">Sign in</button> <br>
            <div class="login-switchwrap">Don't have an account? <a href="" id="login-switchlink-signup">Sign up.</a></div>
        </form>
        <form id="signup-form" style="display: none;" action="javascript:signUp();">
            <label for="signup-user">Username: </label>
            <div class="input"><input id="signup-user" name="username" type="username"></div>
            <label for="signup-pwd">Password: </label>
            <div class="input"><input id="signup-pwd" name="password" type="password" autocomplete="new-password"></div>
            <label for="signup-pwd-2">Confirm Password: </label>
            <div class="input"><input id="signup-pwd-2" name="confirm_password" type="password" autocomplete="new-password"></div>
            <div class="login-errwrap"><p id="signup-error">?</p></div>
            <button class="login-button" id="signup-button">Create account</button> <br>
            <div class="login-switchwrap">Already have an account? <a href="" id="login-switchlink-login">Log in.</a></div>
        </form>
        <div id="login-loader">
            <div id="login-fade"></div>
            <div class="loader"><div><svg viewBox="25 25 50 50"><circle cx="50" cy="50" r="20"></circle></svg></div></div>
        </div>
    </div>
    <div id="loadingscreen">
        <div class="loader"><div><svg viewBox="25 25 50 50"><circle cx="50" cy="50" r="20"></circle></svg></div></div>
    </div>
</body>
</html>