<head>
    {% include "head-meta.html" %}
    <meta property="og.title" content="{{ title }}"/>
    <meta name="twitter:card" content="player">
    <meta property="og.type" content="video.other"/>
    <meta property="og:video" content="{{ video_url }}" />
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:player" content="{{ video_url }}">
    <meta name="twitter:image" content="{{ thumbnail_url }}">
    <meta property="og:image" content="{{ thumbnail_url }}">
    <meta name="theme-color" content="#101020">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #101020;
            font-family: 'Open Sans', sans-serif;
            color: whitesmoke;
        }
        div.center {
            margin: 20px auto 0px auto;
            width: fit-content;
        }
    </style>
    <script>
        async function onLoad() {
            const video = document.querySelector("video");
            let lastT = 0;
            while (true) {
                let t = 0;
                for (let i = 0; i < video.played.length; i++) {
                    t += video.played.end(i) - video.played.start(i);
                }
                if (t != lastT) await fetch(document.location.href + "/view", { headers: { "T": t } });
                lastT = t;
                await new Promise(resolve => setTimeout(resolve, 4000));
            }
        }
    </script>
</head>
<body onload="onLoad();">
    {% include "header.html" %}
    <div class="center">
        <video src="{{ video_url }}" poster="{{ thumbnail_url }}" controls style="width: 800px;"></video>
        <h2 style="position: relative; margin: 10px;">{{ title }}</h2>
        <span style="margin-left: 10px;">{{ views }} views</span>
    </div>
</body>
</html>