<head>
    {% include "head-meta.html" %}
    <meta property="og.title" content="{{ title }}"/>
    <meta name="twitter:card" content="player">
    <meta property="og.type" content="video.other"/>
    <meta property="og:video" content="{{ video_url }}" />
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:player" content="{{ video_url }}">
    <meta name="twitter:image" content="{{ thumbnail_url }}">
    <meta property="og:image" content="{{ thumbnail_url }}">
    <meta name="theme-color" content="#101020">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='player.css') }}">
    <script src="{{ url_for('static', filename='player.js') }}"></script>
    <style>
        body {
            background-color: #101020;
            font-family: 'Open Sans', sans-serif;
            color: whitesmoke;
        }
        div.videowrap {
            margin: 20px auto 0px 20px;
            width: fit-content;
        }
        video {
            position: relative;
            max-height: 70%;
            max-width: 70%;
        }
    </style>
</head>
<body onload="onLoad();">
    {% include "header.html" %}
    <div class="videowrap">
        <video src="{{ video_url }}" poster="{{ thumbnail_url }}" controls></video>
        <h2 style="position: relative; margin: 10px;">{{ title }}</h2>
        <span style="margin-left: 10px;">{{ views }} views</span>
    </div>
    <div id="comments">
        <h3 id="comments-title">Comments</h3>
        <div class="commentbox">
            <div class="input"><input id="comment" type="comment" placeholder="Write a comment"></div>
            <button class="post-comment" onclick="postComment()">Post comment</button>
        </div>
    </div>
    <template id="comment">
        <div class="comment">
            <div class="user"></div>
            <div class="content"></div>
        </div>
    </template>
</body>
</html>