<head>
    <title>TITLE</title>
    <meta property="og.title" content="{{ title }}"/>
    <meta name="twitter:card" content="player">
    <meta property="og.type" content="video.other"/>
    <meta property="og:video" content="{{ video_url }}" />
    <meta name="twitter:title" content="TITLE">
    <meta name="twitter:player" content="{{ video_url }}">
    <meta name="twitter:image" content="{{ thumbnail_url }}">
    <meta property="og:image" content="{{ thumbnail_url }}">
    <meta name="theme-color" content="#101020">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #101020;
            font-family: 'Open Sans', sans-serif;
            color: whitesmoke;
        }
        div.center {
            position: absolute;
            left: 50%;
            top: 20px;
            transform: translateX(-50%);
        }
    </style>
</head>
<body>
    <div class="center">
        <video src="{{ video_url }}" poster="{{ thumbnail_url }}" controls style="width: 800px;"></video>
        <h2 style="position: relative; top: -10px; left: 10px;">{{ title }}<h2>
    </div>
</body>
</html>